.top-name-advertiser{
    text-align: center;
    margin-top:15px;
    font-size: 3rem;
    /* border: 1px solid red; */
    margin-left: 18rem;
}


.advertisers-top{
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    margin-bottom: 0;
    margin-top: 100px;
    margin-left: 18rem;
    min-height: 100px;
    position: center;
    z-index: 1030;
    display: flex;
    align-items: center;
    padding: 20px;
    /* background-color: #f2f2f2; */
}
.add-advertiser-btn {
    float: right;
    background-color: lightgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    color: black
  }
  
  .add-advertiser-btn:hover {
    background-color: green;
  }

.advertisers-lower{
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    /* margin-bottom: 0; */
    margin-top: 10px;
    margin-left: 18rem;
    min-height: 100px;
    position: center;
    /* z-index: relative; */
    /* height: 100px; */
    display: flex;
    align-items: center;
    padding: 20px;
    /* background-color: #f2f2f2; */
}
  
  .advertisers-top a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 50px;
  }
  
  .advertisers-top a:hover {
    /* background-color: #ddd; */
    color: black;
    background-color: lightgreen;
  }

    .advertisers-top a.active {
        /* background-color: #2196F3; */
        color: white;
        background-color: lightgreen;
    }

    .main-container {
        display: flex;
      }
      
      .list-item {
        width: auto;
        margin-right: 50px;
      }
      
      .item-header {
        background-color: rgb(197, 244, 239);
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.5s ease;
        border-radius: 30px;
        
        /* align-items: center; */
      }
      
      .item-header:hover {
        background-color: lightgreen;
      }
      .item-header:after {
        content: "▼";
        display: inline-block;
        padding-right: 5px;
        transform: rotate(90deg);
        transition: transform 0.3s;
      }
      
      .item-header.active:before {
        transform: rotate(-90deg);
      }

      
      .sub-list {
        padding: 10px;
        background-color: lightgrey;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
      }
      
      .list-item.expanded .sub-list {
        max-height: 500px;
      }
      
      input[type="text"] {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        margin-top: 10px;
      }
  /* //advertiser body css */

  .advertisers-body {
   
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    margin-top: 10px;
    margin-left: 18rem;
    min-height: 100px;
    position: center;
    display: flex;
    align-items: center;
    padding: 30px;
    /* height : 100%; */


  }
  
  .advertisers-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .advertisers-body-button {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 5px;
    /* margin-right: 10px; */
    margin-right: 60px;
  }
  
  .advertisers-body-item {
    margin-right: 100px;
    padding: 10px 20px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
  }